In [1]:
#importing imp libraries
import pandas as pd
import numpy as np
import pickle

In [2]:
df_freelancer = pd.read_csv('Datasets/upwork_data_scientists.csv')
df_jobs = pd.read_csv('Datasets/freelancer_job_postings.csv')

In [3]:
df_freelancer.head()

,country,description,hourlyRate,jobSuccess,locality,name,skills,title,totalHours,totalJobs
0,Egypt,let the work of data for me 游늵 and get the busi...,25.0,97%,Giza,Abeer K.,Python|Machine Learning|Scrapy|Data Science|SQ...,Data Scientist | Web Scraping Engineer,405.0,69
1,Serbia,I am master environmental protection analyst a...,15.0,97%,Belgrade,Nikola M.,Data Entry|Google Docs|Online Research|Lead Ge...,Researcher,354.0,68
2,Philippines,Specializes in automated Excel solutions that ...,60.0,100%,Manila,"Ramil, Jr. A.",Microsoft Excel|Excel Formula|Excel Macros|Vis...,Excel | VBA | Macros | Google Sheets Expert,15.0,351
3,United States,Data Science and Machine Learning Expert for H...,500.0,100%,Wyckoff,Jason K.,Deep Learning|Python|Data Science|Machine Lear...,Data Science & AI Expert- Senior Machine Learn...,434.0,80
4,Pakistan,"游댮游리游댮游리游댮游리游댮游리游댮游리游리游리游리游리游리游리"" I can do anything with Pytho...",25.0,82%,Karachi,Muhammad Noman B.,Data Science|Machine Learning|pandas|Microsoft...,Data Science | Python Projects | Machine Learn...,4.0,11

In [4]:
df_jobs.head()

,projectId,job_title,job_description,tags,client_state,client_country,client_average_rating,client_review_count,min_price,max_price,avg_price,currency,rate_type
0,37426471,development and implementation of a federated ...,please bid only if you are ready to do the wor...,"['algorithm', 'java', 'python', 'machine learn...",Heilbronn,Germany,5.0,17,8.0,30.0,19.0,EUR,fixed
1,37421546,Data Entry -- 2,Project Title: Data Entry - Data Analysis in E...,"['excel', 'statistical analysis', 'statistics'...",Nagpur,India,0.0,0,750.0,1250.0,1000.0,INR,hourly
2,37400492,Data Scrap,I am looking for a freelancer who can help me ...,"['web scraping', 'data mining', 'data entry', ...",Eaubonne,France,5.0,1,30.0,250.0,140.0,EUR,fixed
3,37404568,Big Data Project,Store Sales Data Analysis: A Data Engineering ...,"['big data sales', 'data science', 'data minin...",Mundra,India,5.0,2,5000.0,5500.0,5250.0,INR,fixed
4,37397423,Virtual Assistant / Research Assistant,Job Description: I am seeking a Virtual Assist...,"['data entry', 'virtual assistant', 'web searc...",NaN,United States,0.0,0,5.0,15.0,10.0,USD,hourly

In [5]:
#check for null values in freelancer dataset
df_freelancer.isnull().sum()

country         4
description     0
hourlyRate      0
jobSuccess     13
locality        0
name            0
skills          0
title           0
totalHours      9
totalJobs       0
dtype: int64

In [6]:
#check for null values in jobs dataset
df_jobs.isnull().sum()

projectId                  0
job_title                  0
job_description            0
tags                       0
client_state             365
client_country             1
client_average_rating      0
client_review_count        0
min_price                  0
max_price                  0
avg_price                  0
currency                   0
rate_type                  0
dtype: int64

In [7]:
#removing % in jobSuccess
df_freelancer['jobSuccess'] = df_freelancer['jobSuccess'].str.replace('%' , '')
#changes to numeric term
df_freelancer['jobSuccess'] = pd.to_numeric(df_freelancer['jobSuccess'], errors='coerce')

In [8]:
#filling the null values int the freelancer dataset
df_freelancer['country'].fillna(df_freelancer['country'].mode()[0] , inplace = True )
df_freelancer['jobSuccess'].fillna(df_freelancer['jobSuccess'].mean() , inplace = True)
df_freelancer['totalHours'].fillna(df_freelancer['totalHours'].mean() , inplace = True )

C:\Users\DELL\AppData\Local\Temp\ipykernel_12488\2860426828.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_freelancer['country'].fillna(df_freelancer['country'].mode()[0] , inplace = True )
C:\Users\DELL\AppData\Local\Temp\ipykernel_12488\2860426828.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_freelancer['jobSuccess'].fillna(df_freelancer['jobSuccess'].mean() , inplace = True)
C:\Users\DELL\AppData\Local\Temp\ipykernel_12488\2860426828.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_freelancer['totalHours'].fillna(df_freelancer['totalHours'].mean() , inplace = True )

In [9]:
#filling the null values in the job dataset
df_jobs['client_country'].fillna(df_jobs['client_country'].mode()[0] , inplace = True)
df_jobs['client_state'].fillna(df_jobs['client_state'].mode()[0] , inplace = True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_12488\3653652544.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_jobs['client_country'].fillna(df_jobs['client_country'].mode()[0] , inplace = True)
C:\Users\DELL\AppData\Local\Temp\ipykernel_12488\3653652544.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_jobs['client_state'].fillna(df_jobs['client_state'].mode()[0] , inplace = True)

In [10]:
df_freelancer['skills'] = df_freelancer['skills'].str.split('|')
df_freelancer['title'] = df_freelancer['title'].str.split('|')

In [11]:
#there is emojies in the description , emoji module we can remove emojies
!pip install emoji

Requirement already satisfied: emoji in c:\users\dell\anaconda\lib\site-packages (2.14.0)

In [12]:
import emoji

# Function to replace emojis
def replace_emojis(text, replacement=""):
    return emoji.replace_emoji(text, replacement)

# Apply to a dataframe column
df_freelancer['description'] = df_freelancer['description'].apply(lambda x: replace_emojis(x, replacement=""))

In [13]:
#checking the currency
df_jobs['currency'].unique()

array(['EUR', 'INR', 'USD', 'SGD', 'GBP', 'AUD', 'HKD', 'CAD', 'NZD'],
      dtype=object)

In [14]:
#converting all currency present in the dataset to INR
def change_curr(currs, amt):
    if currs == "EUR":
        return amt * 89.33
    elif currs == "USD":
        return amt * 84.50
    elif currs == "SGD":
        return amt * 63.08
    elif currs == "GBP":
        return amt * 107.44
    elif currs == "AUD":
        return amt * 55.05
    elif currs == "HKD":
        return amt * 10.86
    elif currs == "CAD":
        return amt * 60.42
    elif currs == "NZD":
        return amt * 49.97
    else:
        return amt

In [15]:
#changing currency to INR in min_price
min = []
for i in range(len(df_jobs['currency'])):
  min.append(change_curr(df_jobs['currency'][i] , df_jobs['min_price'][i]))

#changing currency to INR in max_price
max = []
for i in range(len(df_jobs['currency'])):
  max.append(change_curr(df_jobs['currency'][i] , df_jobs['max_price'][i]))

#changing currency to INR in avg_price
avg = []
for i in range(len(df_jobs['currency'])):
  avg.append(change_curr(df_jobs['currency'][i] , df_jobs['avg_price'][i]))

In [16]:
df_jobs['min_inr'] = pd.DataFrame(data = min)

df_jobs['max_inr'] = pd.DataFrame(data = max)

df_jobs['avg_inr'] = pd.DataFrame(data = avg)

In [17]:
#droping the columns(avg_price , min_price , max_price)
df_jobs.drop(['avg_price' , 'max_price' , 'min_price'] , axis = 1, inplace = True)

In [18]:
#droping the currency column
df_jobs.drop(['currency'] , axis = 1 , inplace = True)

In [19]:
#adding the experience column with the help of client_rating column in th job dataset
def level(rating):
  if rating >=4.0 and rating <=5.0:
    return "expert"
  elif rating >=2.5 and rating <4.0:
    return "intermediate"
  else:
    return "entry"

#adding the experience column with the help of jobSuccess in the freelancer dataset
def free_level(success):
  if success >= 75.0 and success<=100.0:
    return "expert"
  elif success>=50.0 and success<75.0:
    return "intermediate"
  else:
    return "entry"

In [20]:
#creating the columns
df_jobs['experience'] = df_jobs['client_average_rating'].apply(lambda x : level(x))
df_freelancer['experience'] = df_freelancer['jobSuccess'].apply(lambda x : free_level(x))

In [21]:
#adding a column of password in both dataset
df_jobs['pass'] = np.random.randint(10000000, 99999999, size=len(df_jobs))
df_freelancer['pass'] = np.random.randint(10000000, 99999999, size=len(df_freelancer))

In [22]:
#adding a column of rating in the freelancer dataset
df_freelancer['rating'] = np.random.randint(1, 6, size=len(df_freelancer))

In [23]:
#adding a column of totalHours in the jobs dataset
df_jobs['totalHours'] = np.random.randint(1 , 600 , size = len(df_jobs))

#adding the column of jobSuccess in the jobs dataset
df_jobs['jobSuccess'] = np.random.randint(1 , 101 , size = len(df_jobs))

In [24]:
#creating update_jobs dataframe with imp columns of df_jobs dataset
update_jobs = df_jobs.drop([ 'client_state'  ,	'client_review_count' , 'rate_type' ,	'min_inr' , 'avg_inr' ] , axis = 1)

In [25]:
#changing the columns names
update_jobs.rename(columns={'client_average_rating': 'rating' ,
                            'client_country' : 'country' ,
                            'projectId' : 'name' ,
                            'job_title' : 'title',
                            'job_description' : 'description',
                            'max_inr' : 'hourlyRate',
                            'tags' : 'skills'}  , inplace = True)

In [26]:
#save the jobs dataset
pickle.dump(update_jobs , open('update_jobs.pkl' , 'wb'))

In [27]:
#creating update_free dataframe with imp columns of df_free dataset
update_free = df_freelancer.drop(['locality'  ,'totalJobs' ] , axis = 1)
pickle.dump(update_free , open('update_free.pkl' , 'wb'))

In [28]:
#removing space between them e.g (video editing , flask) -> (videoediting , flask)
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [29]:
#apply function to skills and title columns in the freelancer dataset
df_freelancer['skills'] = df_freelancer['skills'].apply(collapse)
df_freelancer['title'] = df_freelancer['title'].apply(collapse)

In [30]:
import ast

# Step 1: Convert string representation of lists to actual lists
df_jobs['tags'] = df_jobs['tags'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

# Step 2: Clean the list elements (strip unwanted characters like quotes)
df_jobs['tags'] = df_jobs['tags'].apply(lambda x: [item.strip("'") for item in x if isinstance(item, str)])

#apply function to tags column
df_jobs['tags'] = df_jobs['tags'].apply(collapse)

In [31]:
#changing int terms to str for adding them
df_jobs['max_inr'] = df_jobs['max_inr'].astype('str')
df_freelancer['hourlyRate'] = df_freelancer['hourlyRate'].astype('str')
df_jobs['totalHours'] = df_jobs['totalHours'].astype('str')
df_freelancer['totalHours'] = df_freelancer['totalHours'].astype('str')
df_jobs['client_average_rating'] = df_jobs['client_average_rating'].astype('str')
df_freelancer['jobSuccess'] = df_freelancer['jobSuccess'].astype('str')
df_freelancer['rating'] = df_freelancer['rating'].astype('str')
df_jobs['jobSuccess'] = df_jobs['jobSuccess'].astype('str')

In [32]:
#spliting the text into words for further adding with other columns
df_jobs['job_title'] = df_jobs['job_title'].apply(lambda x:x.split())
df_jobs['job_description'] = df_jobs['job_description'].apply(lambda x:x.split())
df_jobs['client_country'] = df_jobs['client_country'].apply(lambda x:x.split())
df_jobs['max_inr'] = df_jobs['max_inr'].apply(lambda x:x.split())
df_jobs['experience'] = df_jobs['experience'].apply(lambda x:x.split())
df_jobs['totalHours'] = df_jobs['totalHours'].apply(lambda x:x.split())
df_jobs['client_average_rating'] = df_jobs['client_average_rating'].apply(lambda x:x.split())
df_jobs['jobSuccess'] = df_jobs['jobSuccess'].apply(lambda x:x.split())

In [33]:
#spliting the text into words for further adding with other columns
df_freelancer['description'] = df_freelancer['description'].apply(lambda x:x.split())
df_freelancer['country'] = df_freelancer['country'].apply(lambda x:x.split())
df_freelancer['hourlyRate'] = df_freelancer['hourlyRate'].apply(lambda x:x.split())
df_freelancer['experience'] = df_freelancer['experience'].apply(lambda x:x.split())
df_freelancer['totalHours'] = df_freelancer['totalHours'].apply(lambda x:x.split())
df_freelancer['jobSuccess'] = df_freelancer['jobSuccess'].apply(lambda x:x.split())
df_freelancer['rating'] = df_freelancer['rating'].apply(lambda x:x.split())

In [34]:
#adding columns and store in tags_1 in the jobs dataset
df_jobs['tags_1'] =   df_jobs['tags'] +df_jobs['job_title']+ df_jobs['client_country'] +  df_jobs['totalHours'] + df_jobs['max_inr'] + df_jobs['experience']+ df_jobs['client_average_rating'] + df_jobs['jobSuccess']

In [35]:
#adding columns and store in the tags_2 in the freelancer dataset
df_freelancer['tags_2'] =   df_freelancer['skills'] +df_freelancer['title']+ df_freelancer['country'] +  df_freelancer['totalHours'] + df_freelancer['hourlyRate'] + df_freelancer['experience']+ df_freelancer['rating'] + df_freelancer['jobSuccess']

In [36]:
df_freelancer['tags_2'] = df_freelancer['tags_2'].apply(lambda x: " ".join(x))
df_jobs['tags_1'] = df_jobs['tags_1'].apply(lambda x: " ".join(x))

In [37]:
#creating new datset
new_free = df_freelancer.drop(['country',	'description',	'hourlyRate' ,	'jobSuccess'	, 'locality' , 'skills' ,	'title' ,	'totalHours'	, 'totalJobs' , 'experience' , 'pass' , 'rating'] , axis = 1)
new_jobs = df_jobs.drop(['job_title' ,	'job_description',	'tags' ,	'client_state' , 	'client_country' ,	'client_average_rating' ,	'client_review_count' , 'experience',	'rate_type' ,	'min_inr' ,	'max_inr' ,	'avg_inr'	 , 'pass' , 'totalHours' , 'jobSuccess'] , axis = 1)

In [38]:
print(new_jobs.shape)
print(new_free.shape)

(9193, 2)
(132, 2)

In [39]:
#lowering the tags
new_jobs['tags_1'] = new_jobs['tags_1'].apply(lambda x : x.lower())

new_free['tags_2'] = new_free['tags_2'].apply(lambda x: x.lower() )

In [40]:
import string
# Remove punctuation using str.translate() and string.punctuation
new_jobs['tags_1'] =  new_jobs['tags_1'].apply(lambda x : x.translate(str.maketrans("", "", string.punctuation)))
new_free['tags_2'] =  new_free['tags_2'].apply(lambda x : x.translate(str.maketrans("", "", string.punctuation)))

In [41]:
new_jobs.head()

   projectId                                             tags_1
0   37426471  algorithm java python machinelearningml flutte...
1   37421546  excel statisticalanalysis statistics spssstati...
2   37400492  webscraping datamining dataentry excel websear...
3   37404568  bigdatasales datascience datamining statistica...
4   37397423  dataentry virtualassistant websearch excel pre...

In [42]:
new_free.head()

                name                                             tags_2
0           Abeer K.  python machinelearning scrapy datascience sql ...
1          Nikola M.  dataentry googledocs onlineresearch leadgenera...
2      Ramil, Jr. A.  microsoftexcel excelformula excelmacros visual...
3           Jason K.  deeplearning python datascience machinelearnin...
4  Muhammad Noman B.  datascience machinelearning pandas microsoftpo...

In [43]:
#saving these two datasets
import pickle
pickle.dump(new_jobs , open('jobs_2.pkl' , 'wb'))
pickle.dump(new_free , open('freelancer_2.pkl' , 'wb'))